actix-video-gen/target
.env
.venv
__pycache__
**/static/uploads/
**/static/background_videos/

# Frontend
# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
