@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply font-heading;
   }

   p {
      @apply font-body;
   }
}

:root {
   font-family: 'Montserrat', 'Hind Guntur', sans-serif;
   line-height: 1.5;
   font-weight: 400;
   font-size: 1.125rem;

   color-scheme: light dark;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@layer base {
   :root {
      --background: 240 5% 98%; /* zinc-50 */
      --foreground: 240 5% 4%; /* zinc-950 */
      --card: 240 5% 98%; /* zinc-50 */
      --card-foreground: 240 5% 4%; /* zinc-950 */
      --popover: 240 5% 98%; /* zinc-50 */
      --popover-foreground: 240 5% 4%; /* zinc-950 */
      --primary: 240 5% 34%; /* zinc-700 */
      --primary-foreground: 240 5% 98%; /* zinc-50 */
      --secondary: 240 5% 96%; /* zinc-100 */
      --secondary-foreground: 240 5% 34%; /* zinc-700 */
      --muted: 240 5% 96%; /* zinc-100 */
      --muted-foreground: 240 5% 65%; /* zinc-400 */
      --accent: 240 5% 96%; /* zinc-100 */
      --accent-foreground: 240 5% 34%; /* zinc-700 */
      --destructive: 346 77% 50%; /* rose-500 */
      --destructive-foreground: 240 5% 98%; /* zinc-50 */
      --border: 240 5% 88%; /* zinc-200 */
      --input: 240 5% 88%; /* zinc-200 */
      --ring: 240 5% 34%; /* zinc-700 */
      --radius: 0.5rem;
   }

   .dark {
      --background: 240 5% 4%; /* zinc-950 */
      --foreground: 240 5% 98%; /* zinc-50 */
      --card: 240 5% 4%; /* zinc-950 */
      --card-foreground: 240 5% 98%; /* zinc-50 */
      --popover: 240 5% 4%; /* zinc-950 */
      --popover-foreground: 240 5% 98%; /* zinc-50 */
      --primary: 240 5% 96%; /* zinc-100 */
      --primary-foreground: 240 5% 34%; /* zinc-700 */
      --secondary: 240 5% 26%; /* zinc-800 */
      --secondary-foreground: 240 5% 98%; /* zinc-50 */
      --muted: 240 5% 26%; /* zinc-800 */
      --muted-foreground: 240 5% 65%; /* zinc-400 */
      --accent: 240 5% 26%; /* zinc-800 */
      --accent-foreground: 240 5% 98%; /* zinc-50 */
      --destructive: 346 77% 30%; /* rose-700 */
      --destructive-foreground: 240 5% 98%; /* zinc-50 */
      --border: 240 5% 26%; /* zinc-800 */
      --input: 240 5% 26%; /* zinc-800 */
      --ring: 240 5% 88%; /* zinc-200 */
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}
